# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeFiles/*
CMakeCache.txt
Makefile

*.swp
*.cmake
*.dat

ros_command_adapter
ros_sensor_adapter
linear_readout_decoder
nef_encoder
rate_encoder
converge_adapter

catkin_ws/devel/*
catkin_ws/install/*
catkin_ws/build/*
catkin_ws/src/ros-pioneer3at/*
catkin_ws/src/rosaria/*


