<launch>

	<node pkg="pioneer3at" type="gazebo_laserscan" name="Pioneer3AT_laserscan" >
	  <param name="ros_laserscan_frame" type="str" value="/Pioneer3AT/laserscan" />
	  <param name="gz_laserscan_topic" type="str" value="~/Pioneer3AT/hokuyo/link/laser/scan" />
	  
	  <remap from="scan" to="/Pioneer3AT/laserscan" />
	</node>
	
</launch>
